@import "../../variables.css";

.password-wrapper {
  position: relative;
  margin: 50px auto;
  width: 206px;
}
.password-wrapper__input {
  font-family: "Nova Mono", monospace;
  height: 25px;
  width: 165px;
  padding: 1px 29px 1px 10px;
  border: 1px solid var(--dark-color);
  border-radius: 10px;
}
.password-wrapper__input:focus {
  outline: 1.5px solid var(--green-color);
}
.password-wrapper__visibility-switch {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  width: 29px;
  height: 29px;
}
img {
  margin-top: 6.5px;
  width: 16px;
  height: 16px;
  opacity: 0.7;
}
